.main-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    background-color: #F4F6FF;
    padding: 3% 0%;
    width: 100%;
    position: relative;
}

.landing {
    padding-top: 6%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: #F4F6FF;
    min-height: 70vh;
    height: auto;
    width: 100%;
}

.scroll {
    background-color: #F4F6FF;
    width: 100%;
}

/* First div setup */
.first-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    justify-content: center;
}

.second-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image {
    width: 250px;
    height: 400px;
}


.vertical-div {
    width: 100%;
}


.genai {
    font-weight: 900;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(93, 90, 220, 0.88) 35%, rgba(255, 255, 255, 1) 100%);
    background-size: 200% 200%; 
    animation: gradient-move 3s linear infinite; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 36px; 
}

.iframe-responsive
{
    background-color: transparent;
    width: 40%;
    height: 85vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
}

@media screen and (max-width: 1200px)
{
    .iframe-responsive 
    {
        width: 60%;
        height: 90vh;
    }
}

@media screen and (max-width: 800px)
{
    .iframe-responsive 
    {
        width: 80%;
    }
}


@media screen and (max-width: 550px)
{
    .iframe-responsive 
    {
        width: 90%;
    }
}

@media screen and (max-width: 550px)
{
    .iframe-responsive 
    {
        width: 100%;
    }
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.heading1 {
    font-size: 36px;
}

.heading2 {
    font-size: 18px;
}


@media (max-width: 768px) { 
    .second-div .image {
        display: none; 
    }
}




