.marketplaceContainer {
    text-align: center;
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    margin-top: 30px; 
    height: calc(100vh - 30px); 
}

.marketplaceTitle {
    font-size: 2em;
    margin-bottom: 20px;
}

.searchBar {
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.integrationsList .col-md-4 {
    display: flex;
}

.card.h-100 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
